body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 2rem auto;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.option {
  font-weight: normal;
  color: inherit;
}

.option.correct {
  color: green;
  font-weight: bold;
}

.option.wrong {
  color: red;
  font-weight: bold;
}